
	#chancellor {
		width: 46px;
		height: 56px;
		position: absolute;
		//top: 330px;
		top: 400px;
		left: 487px;
		transform: scale(1);
		z-index: 1;
		&.chancellorWalkingFront {
			animation: chancellorTop 4s forwards ease-out;
			animation-delay: 6s;
			background-image: url('../../assets/sprites/chancellor/chancellor-w-front.png');
			@keyframes chancellorTop {
				from {
					top: 400px;
				}
				to {
					top: 330px;
				}
			}
		}
	}