#soldier-blue {
	&.walking {
		animation: soldierLeft 3.1s forwards ease-out, blueVisible 1.5s forwards linear;
		background-image: url('../../assets/sprites/soldier/soldier-w-right.png');
		height: 70px;
		opacity: 0;
		position: absolute;
		top: 500px;
		width: 36px;
		z-index: 2;

		@keyframes soldierLeft {
			from {
				left: -50px;
			}
			to {
				left: 493px;
			}
		}

		@keyframes blueVisible {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}
	&.front {
		background-image: url('../../assets/sprites/soldier/soldier-front.png');
		background-position: 0 !important;
		height: 70px;
		left: 493px;
		position: absolute;
		top: 500px;
		width: 32px;
		z-index: 2;
		&:hover {
			background-image: url('../../assets/sprites/soldier/soldier-shocked.gif');
			height: 65px;
			width: 50px;
		}
	}
	&.hidden {
		display: none;
	}
}