#crono {
		position: absolute;
		//top: 560px;
		//left: 485px;
		z-index: 4;
		&.cronoWalkingLeft {
			width: 48px;
			height: 73px;
			animation: walkToCenter 7.2s forwards ease-out;
			background-image: url('../assets/sprites/crono/crono-w-left.png');
			@keyframes walkToCenter {
				0% {
					left: 1070px;
					top: 580px;
				}
				100% {
					left: 486px;
					top: 580px;
				}
			}
			&.halfTurned {
				transition: 0.1s;
				transform: skewY(25deg);
			}
		}
		&.cronoImmobileBack {
			left: 495px;
			top: 580px;
			background-image: url('../assets/sprites/crono/crono-back.gif');
			background-position: 0 !important;
			width: 31px;
			height: 65px;
		}
	}